@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-blue-primary: #1e40af;
  --color-blue-secondary: #2563eb;
  --color-orange-primary: #ea580c;
  --color-red-primary: #dc2626;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}
